@model IEnumerable<AiDiDesign.Web.ViewModels.ProductHomeViewModel>
@{
    ViewBag.Title = "Home Page";
}

<div class="well">
    <div class="row">
        <div class="col-lg-9">
            <h2 class="text-center">New products</h2>
            @for (int i = 0; i < Model.Count(); i++)
            {
                var product = Model.ElementAt(i);
                @Html.Partial("_ProductPartial", product)
            }
        </div>
        <div class="col-lg-3">
            @Html.Partial("_RightSideBar")
        </div>
    </div>
</div>