@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <img src="~/images/2.jpg" class="centered" height="500" width="100%" />
</div>

<div class="row jumbotron">
    <div class="col-md-12">
        <h2>
            The only thing we can say is that we are the best
        </h2>
        <h3>
            And remember! We are the best!
        </h3>
    </div>
</div>